// COLORS
$primary: #7ed56f;
$primary-light: #55c57a;
$primary-dark: #28b485;

$blue: #4c7ff5;

$white: #fff;

$grey-light-1: #ebebeb;

$grey-dark-1: #777;

$black: #1f1f1f;

// GRID
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-h: 4rem;
